Enterprise_Data_from_Drive_to_Pinecone.json
{
  "name": "Enterprise_Data_from_Drive_to_Pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ue9Tqk5uJw0oF1bRikhoKWtb-GQiIYyP",
          "mode": "list",
          "cachedResultName": "Avanade",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ue9Tqk5uJw0oF1bRikhoKWtb-GQiIYyP"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -432
      ],
      "id": "af148145-a3d7-4c1e-bd51-45ec343cbaa4",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GnicMO2ugIEAbsFi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -208,
        -432
      ],
      "id": "fd97cb3a-c890-4122-b338-0abd1b34296f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GnicMO2ugIEAbsFi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-agentic-ai-5",
          "mode": "list",
          "cachedResultName": "n8n-agentic-ai-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        0,
        -432
      ],
      "id": "5a274bd6-6f07-4ebc-8da1-f61a19aec5cc",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "5gFWe08EgkvrtV7O",
          "name": "PineconeApi account 5"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        -208
      ],
      "id": "8159d0a8-7c79-4cd8-a26b-6957c5d9e52c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "U1fXSgYSAnA9Ofdo",
          "name": "N8N Agent"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        144,
        -224
      ],
      "id": "cba1290b-84fc-4bff-be5b-582ab80f6910",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        240,
        -96
      ],
      "id": "cc7a46af-8f76-4033-87c1-7968e5831d91",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "77f33ccc-b661-4669-bab0-a46e4e53cf9c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a3fffec960c1da24379e9be1ef5b1aff33ac5ebedbecb2b8fce1d4cd99130a9"
  },
  "id": "Krj0YGaM0FNoixjC",
  "tags": []
}